name: Deadnix

on: [push, pull_request]

jobs:
  deadnix-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: deadnix

      - name: Run deadnix and publish changes if any
        uses: luisnquin/deadnix-action@main
        with:
          commit_message: "deadnix: remove dead code"
