name: Deadnix

on: [push, pull_request]

env:
  committer_name: Antigen
  committer_email: antigen.bot0@gmail.com

jobs:
  deadnix-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: deadnix

      - name: Run deadnix and publish changes if any
        uses: luisnquin/deadnix-action@main
        with:
          author: ${{env.committer_name}} <${{env.committer_email}}>
          committer: ${{env.committer_name}} <${{env.committer_email}}>
          commit_message: "deadnix: remove dead code"
