name: Check Nix formatting
on: [push, pull_request]

jobs:
  check-formatting:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v6

      - name: Setup Alejandra CLI
        uses: 0xc000022070/setup-alejandra@v4.0.0

      - name: Check formatting
        run: alejandra --check **/*.nix
